/* src/components/Login.css */
.login-container {
  height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #1e1e1e;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.login-input {
  margin-bottom: 16px;
}
