.movie-list-container {
  padding: 30px;
  background-color: #121212;
  min-height: 100vh;
}

.movie-card {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}

.movie-card-image-wrapper {
  height:600px;
  overflow: hidden;
}

.movie-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-card-title {
  color: #fff;
}

.movie-card-price {
  color:green;
  font-weight: bolder;
}

.book-now-button {
  margin-top: 10px;
  background-color: #e50914;
  border-color: #e50914;
  width: 100%;
}
